.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f7f9fc;
}

.auth-card {
    background: white;
    padding: 2rem;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.auth-card h2 {
    margin-bottom: 1.5rem;
    color: #0d47a1;
}

.form-group {
    text-align: left;
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.form-group input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.auth-btn:hover {
    background: #1565c0;
}

.switch-text {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.switch-text span {
    color: #0d47a1;
    font-weight: bold;
    cursor: pointer;
}