.header{
    display:flex;
    justify-content:space-between;
    align-items: centre;
    background: #0d47a1;
    padding: 0.8rem 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    overflow-x: hidden;
}

.logo img {
    max-height: 50px;
    width: auto;
}

nav {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    white-space: nowrap;
}

.menu-toggle {
    display: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh-70px);
    background: rgba(0,0,0,0.5);
    z-index: 50;
}

@media (max-width:768px) {
    .logo img {
        max-width: 35px;
    }

    nav {
        position: absolute;
        top: 70px;
        right: -100%;
        flex-direction: column;
        background: #0d47a1;
        width: 80%;
        height: calc(100vh-70px);
        padding-top: 2rem;
        transition: right 0.3s ease;
        text-align: center;
        gap: 2rem;
        font-size: 1.2rem;
        z-index: 99;
    }

    nav.open {
        left: 0;
    }

    .menu-toggle {
        display: block;
    }
}
